.debug-border {
  border: 0.1rem solid;
}

.nav-horizontal search {
  max-width: 45rem;
}

.nav-horizontal img {
  min-width: 2.5rem;
}

.nav-vertical summary img {
  min-width: 2.5rem;
  max-width: 2.5rem;
}

.nav-vertical summary::after {
  height: 2.5rem;
  width: 2.5rem;
  transform: rotate(0deg);
  background-image: url("navigation/bars.svg");
  background-size: 100% 100%;
}

.about {
  max-width: 30rem;
}

@media screen and (width < 768px) {
  .nav-horizontal {
    display: none;
  }

  .home img {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (width >= 768px) {
  .nav-vertical {
    display: none;
  }
}
