.debug-border {
  border: 0.1rem solid;
}

.nav-horizontal img {
  min-width: 2.5rem;
}

.nav-horizontal search {
  max-width: 45rem;
}

.nav-vertical summary img {
  min-width: 2.5rem;
  max-width: 2.5rem;
}

.nav-vertical summary::after {
  height: 2.5rem;
  width: 2.5rem;
  transform: rotate(0deg);
  background-image: url("navigation/bars.svg");
  background-size: 100% 100%;
}

.about {
  max-width: 30rem;
}

.items div {
  min-height: 5rem;
}

.items img {
  max-width: 5rem;
  max-height: 5rem;
  float: left;
}

.items p {
  padding-left: 6rem;
}

.item > div > div {
  text-align: center;
}

@media screen and (width < 768px) {
  .nav-horizontal {
    display: none;
  }

  .home img {
    margin-right: auto;
    margin-left: auto;
  }

  .item img {
    max-width: 20rem;
    max-height: 20rem;
  }
}

@media screen and (width >= 768px) {
  .nav-vertical {
    display: none;
  }

  .item img {
    max-width: 25rem;
    max-height: 25rem;
  }
}
